@import url(./normalize.scss);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

//VARIABLES DE ENTORNO



*{
    font-family: "Open Sans", sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img{
        width: 200px;
        margin: 50px 0px 0px 100px;
    }

    nav{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-right: 150px;
        
        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-size: large;
        }
    }
}

.first-image{
    margin-top: 150px;
    width: 100%;
    height: 450px;
    background-color: red;
    background-image: url("../images/first-image.jpg");
    background-size: cover;
    background-position: center;
}
